.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 26px;
    padding-bottom: 18px;
}

.header-link-home {
    font-family: "Jost";
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #cda274;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    gap: 40px;
}

.hero-container {
    display: flex;
    flex-direction: column;
}


.header-link {
    font-family: "Jost";
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    letter-spacing: 0.02em;
    color: #292f36;
}

.hero-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #292f36;
    margin-bottom: 19px;
}

.hero-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
    margin-bottom: 35px;
}

.hero-button {
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    width: 207px;
    height: 71px;
    background-color: #292F36;
    border-radius: 18px;
    border-style: none;
}

.hero {
    padding-bottom: 100px;
    padding-top: 18px;
}

.service-list {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 360px;
}

.service-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 25px;
    line-height: 156%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #292f36;
}

.service-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #4d5053;
}

.service-link {
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #4d5053;
    display: flex;
    align-items: center;
    gap: 10px;
}


.service {
    padding-bottom: 100px;
    padding-top: 100px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-content {
    max-width: 552px;
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;
}

.about-phone-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0em;
    color: #292f36;
    margin-bottom: 42px;
}

.about-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
    margin-bottom: 46px;
}


.about-phone {
    font-family: "Jost";
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.about-call {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.about-button {
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    width: 263px;
    height: 71px;
    background-color: #292F36;
    border-radius: 18px;
    border-style: none;
    margin-top: 10px;
}

.about-image-wrap {
    max-width: 592px;
}

.about {
    padding-bottom: 139.39px;
    padding-top: 100px;
}

.about-image {
    border-radius: 0 326px 0 123px;
    width: 592px;
    height: 635px;
}

.testimonials-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: 0em;
    text-align: center;
    color: #292f36;
}

.testimonials {
    border-radius: 70px;
    width: 1200px;
    height: 675px;
    background-color: #F4F0EC;
    padding-bottom: 140.61px;
    padding-top: 139.39px;
    padding: 88px 24px;
}

.testimonials-header {
    margin-bottom: 25px;
}


.testimonials-list {
    width: 354px;
    height: 287px;
    background-color: #FFFFFF;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.testimonials-item {
    width: 354px;
    background-color: #fff;
    border-radius: 30px;
    padding: 45px 35px;
    display: flex;
    flex-direction: column;
}


.testimonials-name {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #292f36;
    margin-bottom: 5px;
}


.testimonials-location {
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.testimonials-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.partners-image {
    width: 1200px;
    height: 103px;
}

.partners {
    padding-bottom: 100px;
    padding-top: 140.61px;
}

.project-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 47px;
    line-height: 133%;
    letter-spacing: 0em;
    text-align: center;
    color: #292f36;
}

.project-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #4d5053;
}

.project-image {
    border-radius: 0 80px 0 0;
    width: 590px;
    height: 661px;
}

.project-name {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 24px;
    line-height: 156%;
    letter-spacing: 0.01em;
    color: #292f36;
}

.project-category {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.project {
    padding-bottom: 79.98px;
    padding-top: 100px;
}

.stats {
    background-color: #F4F0EC;
    padding-bottom: 150px;
    padding-top: 79.98px;
}

.stats-number {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 85px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #cda274;
}

.stats-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #4d5053;
}

.blog-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0em;
    text-align: center;
    color: #292f36;
}

.blog-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #4d5053;
}

.blog-image {
    width: 344px;
    height: 296px;
}

.blog-name {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #292f36;
}

.blog-date {
    font-family: "Jost";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.blog {
    padding-bottom: 80.22px;
}

.cta-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.cta-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
}

.cta-button {
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    background-color: #CDA274;
    width: 241px;
    height: 71px;
    border-radius: 18px;
    border-style: none;
}

.cta {
    border-radius: 70px;
    width: 1200px;
    height: 414px;
    background-color: #292F36;
    padding-bottom: 79.8px;
}

.footer-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.footer-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #292f36;
}

.footer-link {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.footer-address {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
    font-style: normal;
}

.footer-email {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.footer-phone {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}