.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 26px;
    padding-bottom: 18px;
    background-color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: 50px;
}

.header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-link-home {
    font-family: "Jost";
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #cda274;
}

.header-link {
    font-family: "Jost";
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    color: #292f36;
}

.hero {
    padding: 150px 0;
    background-image: url('/img/Interior-hero.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f8f6f4;
    border-radius: 0 0 0 290px;
}

.hero::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.hero-container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.hero-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 65px;
    line-height: 110%;
    color: #292f36;
    margin-bottom: 25px;
    max-width: 500px;
}

.hero-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4d5053;
    margin-bottom: 40px;
    max-width: 500px;
}

.hero-button {
    font-family: "Jost";
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    padding: 20px 40px;
    background-color: #292F36;
    border-radius: 18px;
    border: none;
    align-self: flex-start;
}

.service {
    padding: 100px 0;
    background-color: #fff;
}

.service-list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1;
    text-align: center;
    padding: 20px;
}

.service-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 25px;
    line-height: 156%;
    letter-spacing: 0.01em;
    color: #292f36;
}

.service-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.service-link {
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #4d5053;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.about {
    padding: 100px 0;
    background-color: #fff;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.about-content {
    flex: 1;
    max-width: 500px;
}

.about-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 50px;
    line-height: 125%;
    color: #292f36;
    margin-bottom: 30px;
}

.about-svg {
    width: 93px;
    height: 93px;

}

.about-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
    margin-bottom: 50px;
}

.about-contact {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #f0f0f0;
}

.about-phone-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-phone {
    font-family: "Jost";
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.about-call {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4d5053;
}

.about-button {
    font-family: "Jost";
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    padding: 22px 45px;
    background-color: #292F36;
    border-radius: 18px;
    border: none;
}

.about-image-wrap {
    max-width: 550px;
}

.about-image {
    width: 100%;
    height: 600px;
    border-radius: 0 300px 0 120px;
    background-color: #e8e4df;
}

.testimonials {
    background-color: #F4F0EC;
    border-radius: 70px;
    padding: 88px 60px;
    margin: 0 auto 150px;
    max-width: 1200px;
}

.testimonials-container {
    max-width: 100%;
}

.testimonials-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 50px;
    line-height: 125%;
    text-align: center;
    color: #292f36;
    margin-bottom: 80px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.testimonials-container>ul {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.testimonials-item {
    max-width: 340px;
    background-color: #fff;
    border-radius: 30px;
    padding: 50px 35px;
}

.testimonials-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.testimonials-header::before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e8e4df;
    background-size: cover;
    background-position: center;
}

.testimonials-item:nth-child(1) .testimonials-header::before {
    background-image: url('./img/lisa.webp');
}

.testimonials-item:nth-child(2) .testimonials-header::before {
    background-image: url('./img/David.webp');
}

.testimonials-item:nth-child(3) .testimonials-header::before {
    background-image: url('./img/Lisa_Clairton.webp');
}

.testimonials-header>div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.testimonials-name {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: #292f36;
}

.testimonials-location {
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #4d5053;
}

.testimonials-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #4d5053;
}

.partners {
    padding: 0 0 100px;
}

.partners-container {
    display: flex;
    justify-content: center;
}

.partners-image {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.project {
    padding: 100px 0;
}

.project-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 50px;
    line-height: 130%;
    text-align: center;
    color: #292f36;
    margin-bottom: 15px;
}

.project-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #4d5053;
    max-width: 800px;
    margin: 0 auto 60px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.project-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(50% - 25px);
}

.project-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 0 80px 0 0;
}

.project-name {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 24px;
    line-height: 156%;
    color: #292f36;
}

.project-category {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4d5053;
}


.stats {
    background-color: #F4F0EC;
    padding: 150px 0;
}

.stats-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.stats-item {
    text-align: center;
}

.stats-number {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 85px;
    line-height: 120%;
    color: #cda274;
    margin-bottom: 10px;
}

.stats-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4d5053;
}

.blog {
    padding: 100px 0;
}

.blog-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 50px;
    line-height: 130%;
    text-align: center;
    color: #292f36;
    margin-bottom: 15px;
}

.blog-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #4d5053;
    max-width: 800px;
    margin: 0 auto 60px;
}

.blog-div {
    display: flex;
    
}

.point1 {
    width: 52px;
    height: 52px;
    margin-left: 149px;
    margin-right: 21px;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.blog-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    width: calc(33.333% - 20px);
}


.blog-image {
    width: 344px;
    height: 296px;
    object-fit: cover;
}

.blog-name {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    color: #292f36;
    padding: 0 25px;
}

.blog-date {
    font-family: "Jost";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #4d5053;
    padding: 0 25px 25px;
}

.cta {
    background-color: #292F36;
    border-radius: 70px;
    padding: 80px 60px;
    margin: 100px auto;
    max-width: 1200px;
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.cta-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 50px;
    line-height: 150%;
    color: #fff;
}

.cta-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 20px;
}

.cta-button {
    font-family: "Jost";
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #292f36;
    background-color: #CDA274;
    padding: 22px 45px;
    border-radius: 18px;
    border: none;
}

.footer {
    padding: 80px 0 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    height: 45px;
    margin-bottom: 20px;
}

.footer-text {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4d5053;
    max-width: 350px;
}

.footer-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: #292f36;
    margin-bottom: 20px;
}

.footer-pages,
.footer-explore {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-link {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4d5053;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-address {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4d5053;
    font-style: normal;
}

.footer-email {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4d5053;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-phone {
    font-family: "Jost";
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #4d5053;
}