.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-link-home {
    font-family: "Jost";
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #cda274;
}

.header-link {
    font-family: "Jost";
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    letter-spacing: 0.02em;
    color: #292f36;
}

